<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>안녕 미니 <%= title %></p>
    <form action="" method="post">
        <input type="test" name="name"/>
        <input type="file" name="file"/>
    </form>
  </body>
</html>
